// COLORS
$color-cream: hsl(30, 38%, 92%);
$color-dark-cyan: hsl(158, 36%, 37%);
$color-very-dark-blue: hsl(212, 21%, 14%);
$color-very-grayish-blue: hsl(228, 12%, 48%);
$color-white: hsl(0, 0%, 100%);

// FONT FAMILIES
$montserrat: 'Montserrat';
$fraunces: 'Fraunces';

// FONT SIZE
$font-size-default: 1.4rem; // 14px
$font-size-heading: 3rem; // 30px

// FONT WEIGHTS
$font-weight-medium: 500;
$font-weight-bold: 700;

// LETTER SPACING
$letter-spacing-prod-category: 0.2rem;
$letter-spacing-prod-name: 0.1rem;
$letter-spacing-prod-desc: 0.035rem;

// LINE HEIGHT
$line-height-default: 1.5;
$line-height-heading: 1;

// BREAKPOINTS
$bkp-desktop: 144em; // 1440px
$bkp-mobile: 37.5em; // 375px

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // Sets it to 10px relative to the user's browser setting
    font-size: 62.5%;
}

@mixin font-properties($font-size: $font-size-default,
    $font-weight: $font-weight-medium,
    $font-family: ($montserrat, sans-serif),
    $color: $color-very-grayish-blue,
    $line-height: $line-height-default) {
    font-size: $font-size;
    font-weight: $font-weight;
    font-family: $font-family;
    color: $color;
    line-height: $line-height;
}

body {
    background-color: $color-cream;
    @include font-properties;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.product {
    background-color: $color-white;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 35rem;

    display: flex;
    flex-direction: column;
}

.product-img {
    width: 100%;
}

.product-details {
    margin: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .product-category {
        text-transform: uppercase;
        letter-spacing: $letter-spacing-prod-category;
    }

    .product-name {
        @include font-properties($font-size-heading,
            $font-weight-bold,
            $fraunces,
            $color-very-dark-blue,
            $line-height-heading);
    }

    .product-description {
        letter-spacing: $letter-spacing-prod-desc;
        line-height: 1.5;
    }

    .price {
        display: flex;
        align-items: center;
        gap: 2rem;

        .discount-price {
            font-family: $fraunces;
            font-size: 3rem;
            font-weight: $font-weight-bold;
            color: $color-dark-cyan;
        }

        .former-price {
            text-decoration: line-through;
        }
    }

    .cart-button {
        padding: 1.5rem;
        font-family: $montserrat;
        color: $color-white;
        background-color: $color-dark-cyan;
        border: none;
        border-radius: 0.7rem;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        &:hover {
            background-color: darken($color: $color-dark-cyan, $amount: 5);
        }

        &:active {
            background-color: darken($color: $color-dark-cyan, $amount: 10);
        }
    }
}

@media (min-width: 700px) {
    .product {
        max-width: 60rem;

        display: flex;
        flex-direction: row;

        picture {
            flex: 1;
        }

        & > div {
            flex: 1;
        }

        .product-img {
            height: 100%;
            object-fit: cover;
        }

        .product-details {
            margin: 0;
            height: 100%;
            justify-content: space-between;
            padding: 3rem;
        }

        .product-name {
            letter-spacing: $letter-spacing-prod-name;
        }
    }

}