// COLORS
$color-cream: hsl(30, 38%, 92%);
$color-dark-cyan: hsl(158, 36%, 37%);
$color-very-dark-blue: hsl(212, 21%, 14%);
$color-very-grayish-blue: hsl(228, 12%, 48%);
$color-white: hsl(0, 0%, 100%);

// FONT FAMILIES
$montserrat: 'Montserrat';
$fraunces: 'Fraunces';

// FONT SIZE
$font-size-default: 1.4rem; // 14px

// FONT WEIGHTS
$font-weight-medium: 500;
$font-weight-bold: 700;

// BREAKPOINTS
$bkp-desktop: 144em; // 1440px
$bkp-mobile: 37.5em; // 375px

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $color-cream;
    font-size: $font-size-default;
    font-weight: $font-weight-medium;
    font-family: $montserrat, $fraunces, sans-serif;
    color: $color-very-grayish-blue;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.product {
    max-width: 35rem;
    background-color: $color-white;
    border-radius: 1rem;
    overflow: hidden;
}

.product-img {
    width: 100%;
}

.product-details {
    margin: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .product-category {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }

    .product-name {
        font-family: $fraunces;
        font-size: 3rem;
        font-weight: $font-weight-bold;
        color: $color-very-dark-blue;
        line-height: 1;
    }

    .product-description {
        letter-spacing: 0.035rem;
        line-height: 1.5;
    }

    .price {
        display: flex;
        align-items: center;
        gap: 2rem;

        .discount-price {
            font-family: $fraunces;
            font-size: 3rem;
            font-weight: $font-weight-bold;
            color: $color-dark-cyan;
        }

        .former-price {
            text-decoration: line-through;
        }
    }

    .cart-button {
        padding: 1.5rem;
        font-family: $montserrat;
        color: $color-white;
        background-color: $color-dark-cyan;
        border: none;
        border-radius: 0.7rem;
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        
        &:hover {
            background-color: darken($color: $color-dark-cyan, $amount: 5);
        }
        &:active {
            background-color: darken($color: $color-dark-cyan, $amount: 10);
        }
    }
}